body {
	/*background halaman Web*/
	background-color: #e0fbfc;
}
#header {
	margin-bottom: 10px;
}
.wrapper {

}
.container {
	width: 1200px;
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #fcd5ce;
}
.sidebar {
	font-size: 20px;
	font-family: arial arrow, tahoma;
	width: 300px;
	float: right;
}
.link {
	font-size: 15px;
	font-weight: bold;
	font-family: arial, tahoma, arial arrow;
	color: #4361ee;
	text-decoration: none;
}
.content {
	width: 800px;
	float: left;
}
.clear {
	clear: both;
}

#logo {
	float: left;
	width: 200px;
	height: auto;
	padding: 20px;
}

#logo img {
	max-width: 100%;
	height: auto;
}
#menu {
	padding-top: 60px;
	padding-bottom: 60px;
	float: right;
	width: 960px;
}
#menu li {
	float: left;
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}
#menu li a {
	font-family: cooper black, Geneva, Tahoma, sans-serif;
	color: #341f97;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}
.blog-content {
	float: left;
	max-width: 380px;
	margin-top: 35px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.blog-content img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.recent-article {
	padding-left: 10px;
	padding-right: 10px;
}
.recent-article ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.blog-single {
	float: left;
	max-width: 720px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 35px;
}
.blog-single img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}